{
  "extends": [ "apostrophe" ],
  "rules": {
    "no-var": "error",
    "no-unused-vars": [
      "error",
      { "varsIgnorePattern": "^_", "args": "none" }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/ui/**/*.js"
      ],
      "globals": {
        "apos": true
      }
    }
  ]
}